* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Action: #e8491d;
$Adventure: #268d37;
$Science-Fiction: #4684c4;
$Fantastic: #5e58a2;
$Horror: #2b2b2b;
$Comedy: #ffd800;
$Animation: #f6a318;
$Drame: #4882b4;
$Thriller: #565555;
$War: #8c4614;

@mixin Action {
  background-color: $Action;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Adventure {
  background-color: $Adventure;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Science-Fiction {
  background-color: $Science-Fiction;
  color: white;
  height: 26px;
  text-align: center;
  align-content: center;
  padding: 0 1rem;
  border-radius: 3px;
}

@mixin Fantastic {
  background-color: $Fantastic;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Horror {
  background-color: $Horror;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Comedy {
  background-color: $Comedy;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Animation {
  background-color: $Animation;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Drame {
  background-color: $Drame;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin Thriller {
  background-color: $Thriller;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

@mixin War {
  background-color: $War;
  color: white;
  width: 90px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
}

.action {
  @include Action;
}

.adventure {
  @include Adventure;
}

.science-fiction {
  @include Science-Fiction;
}

.fantastic {
  @include Fantastic;
}

.horror {
  @include Horror;
}

.comedy {
  @include Comedy;
}

.animation {
  @include Animation;
}

.drame {
  @include Drame;
}

.thriller {
  @include Thriller;
}

.war {
  @include War;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito";
  background-color: #ebeced;
}

header {
  margin-top: 5rem;
  & h1 {
    text-align: center;
    text-transform: uppercase;
  }

  & p {
    text-align: center;
    margin: 0 5rem;
  }
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  padding: 5rem 10rem;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 500px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5mm;

  &:hover {
    transform: scale(1.03);
    transition-duration: 0.2s;
  }
}

.card__header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 5mm 5mm 0 0;
  align-content: center;
}

.card__infos__header {
  background-color: white;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 7px;
  opacity: 0.8;
}

.card__header__title {
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0 1rem;
}

.card__header__director {
  text-align: center;
  color: gray;
}

.card__body {
  flex-grow: 1;
  text-align: justify;
  margin: 1rem 2rem;
}

.card__body__desc {
  font-size: 12pt;
}

.card__body__actors {
  margin-top: 0.6rem;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.card__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5rem;
  margin-top: auto;
  padding: 1rem 0;
}

.card__genres > div {
  width: 33.33%;
  text-align: center;
}
